@import 'https://fonts.googleapis.com/css?family=Cabin:400500600700';





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 15px/22px "Helvetica Neue", sans-serif;
}

a {
  color: #65C449;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  font-family: "Cabin";
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
p,
pre {
  margin: 22px 0;
}

h2 {
  margin-top: calc(22px * 2);
}

h2:first-child {
  margin-top: 0;
}

input,
textarea,
button {
  font: inherit;
}

ul {
  padding-left: 2em;
}

pre {
  padding: 22px;
  background: #222;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

#header {
  padding: calc(22px * 2) 0 22px;
}

#header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header .logo img {
  margin-right: 20px;
}

#header .logo h1 {
  display: none;
}

#header .logo {
  flex-grow: 1;
}

#header h1 {
  display: inline-block;
  font-weight: 300;
  font-size: 60px;
  color: #65C449;
}

#header h2 {
  font-weight: 400;
  font-size: 18px;
  color: #aaa;
}

#navigation {
  list-style: none;
  text-align: center;
}

#navigation li a.selected {
  color: #65C449;
  font-weight: bold;
}

#navigation li a {
  display: block;
  color: #aaa;
}

#navigation li {
  display: inline-block;
}

#navigation li + li {
  margin-left: 22px;
}

#content {
  padding: calc(22px * 2) 0;
}

#footer {
  color: #aaa;
  padding: 0 0 calc(22px * 2);
}

#footer a {
  color: inherit;
}

.code-formatters a {
  margin-right: 22px;
}

.examples.coffee .coffee-selector {
  font-weight: bold;
}

.examples.coffee .js {
  display: none;
}

.examples.js .js-selector {
  font-weight: bold;
}

.examples.js .coffee {
  display: none;
}/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
  color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}
