extends base

block content
    .container

        h2 A simple Somata service with Node.js

        p A Somata service exposes methods that can be called by a Somata client elsewhere in your software. Let's make a simple Hello World service that exposes two methods to say hello and goodbye.
        pre
            | somata = require 'somata'
            | 
            | # Create a new Somata service named 'hello'
            | hello_service = new somata.Service 'hello', {
            | 
            |     # With a few methods
            |     sayHello: (name, cb) ->
            |         cb null, 'Hello, ' + name + '!'
            | 
            |     sayGoodbye: (name, cb) ->
            |         cb null, 'Goodbye, ' + name + '!'
            | }


        p Now let's call these functions in order from another piece of code.

        pre
            | somata = require 'somata'
            | 
            | # Create a new Somata client
            | client = new somata.Client
            | 
            | # Execute the 'hello' service's `sayHello` method with argument 'world'
            | client.remote 'hello', 'sayHello', 'world', (err, hello) ->
            |     console.log '[hello.sayHello] response: ' + hello
            | 
            |     # ... then execute hello.sayGoodbye('world')
            |     client.remote 'hello', 'sayGoodbye', 'world', (err, goodbye) ->
            |         console.log '[hello.sayGoodbye] response: ' + goodbye

            |         process.exit()

        p Start the service, then run the client:

        pre
            | $ coffee hello-service.coffee &
            | Somata service listening on loclhost:15555...
            | 
            | $ coffee hello-client.coffee
            | Found service hello@localhost:15555
            | [hello.sayHello] response: Hello, world!
            | [hello.sayGoodbye] response: Goodbye, world!


        h2 Subscribe to a remote event

        p Each Somata service can also publish events. Any client in the 'cluster/system' can then subscribe to these events as you would with any javascript event. Let's create a Service that will publish an 'announcement' with a message every second and print out the message elsewhere by subscribing to the 'announcement' event.

        pre
            | somata = require 'somata'
            | 
            | Publisher = new somata.Service 'publisher'
            | 
            | # A function to publish an 'announcement' event with message 'Hey there, world!'
            | sendAnnouncement = ->
            |     Publisher.publish 'announcement', 'Hey there, world!'
            | 
            | # Publish every second
            | setInterval sendAnnouncement, 1000

        p Create a Client that subscribes to the 'announcement' event and logs the message

        pre
            | somata = require 'somata'
            | 
            | subscriber_client = new somata.Client
            | 
            | # Subscribe to an 'announcement' event from the 'publisher' service
            | subscriber_client.on 'publisher', 'announcement', (message) ->
            |     console.log '[subscriber.onAnnouncement] New message:', message

        p Start the service and client

        pre
            | $ coffee publisher-service.coffee &
            | [didBind] Socket mulj67id bound to tcp://0.0.0.0:36206...
            | Registered service `publisher~ho5xqalh` on tcp://0.0.0.0:36206
            | 
            | $ coffee subscriber-client.coffee
            | [Client.subscribe] publisher~u3sg0zoj : announcement
            // - TODO: doesn't show stuff in brackets

            | Subscribing <mic9pdgi::publisher:announcementy7wq>
            | [subscriber.onAnnouncement] New message: Hey there, world!
            | [subscriber.onAnnouncement] New message: Hey there, world!
            | [subscriber.onAnnouncement] New message: Hey there, world!
            | ...

        p You can even subscribe to Services' events from the browser with <a href='https://github.com/somata/somata-socketio'>somata-socketio</a>.

        h2 Connect an API and database server

        p One Somata service will run the API, another the database. We'll use a Somata client to make database queries from within two different fetch routes. In deployment the API and data services can be run on the same machine or with each on their own specialized hardware. This also allows for nifty patterns such as multiple APIs to balance page rendering load under heavy traffic, with a single monolithic database service.

        p First a simple REST API with a few routes built with express.
        // - TODO: link to a fuller polar example: 'For more on an approach to a simple... much TODO about nothing

        // - TODO: Another cool idea is a 'theoretical' Maia implementation that subscribes to incoming temperatures in the engine service, then sends a text with Twilio if the temperature is below a certain threshold. Could get some cross-pollination of marketing

        pre
            | somata = require 'somata'
            | express = require 'express'
            | 
            | # Create a new Somata client, use bindRemote shorthand for cleaner calls
            | client = new somata.Client
            | Data = client.bindRemote 'example:data'
            | 
            | app = express()
            | 
            | # Fetch users with a query from the request
            | app.get '/users.json', (req, res) ->
            |     Data 'findUsers', req.query, (err, users) ->
            |         res.json users
            | 
            | # Fetch all messages for a user
            | app.get '/users/:user_id/messages.json', (req, res) ->
            |     Data 'findMessages', {user_id: req.params.user_id}, (err, messages) ->
            |         res.json messages

        p A data service with a json database in memory

        h2 Somata across platforms

        p For more examples, see 
            a(href="https://github.com/somata/somata-node/tree/master/examples") https://github.com/somata/somata-node/tree/master/examples

