extends base

block content
    .container

        h3 A simple Somata service

        p A Somata service exposes methods that can be called by a Somata client elsewhere in your software. Let's make a simple Hello World service that exposes two methods to say hello and goodbye.
        pre
            | somata = require 'somata'
            | 
            | # Create a new Somata service named 'hello'
            | hello_service = new somata.Service 'hello', {
            | 
            |     # With a few methods
            |     sayHello: (name, cb) ->
            |         cb null, 'Hello, ' + name + '!'
            | 
            |     sayGoodbye: (name, cb) ->
            |         cb null, 'Goodbye, ' + name + '!'
            | }


        p Now let's call these functions in order from another piece of code.

        pre
            | somata = require 'somata'
            | 
            | # Create a new Somata client
            | client = new somata.Client
            | 
            | # Execute the 'hello' service's `sayHello` method with argument 'world'
            | client.remote 'hello', 'sayHello', 'world', (err, hello) ->
            |     console.log '[hello.sayHello] response: ' + hello
            | 
            |     # ... then execute hello.sayGoodbye('world')
            |     client.remote 'hello', 'sayGoodbye', 'world', (err, goodbye) ->
            |         console.log '[hello.sayGoodbye] response: ' + goodbye

            |         process.exit()

        p Start the service, then run the client:

        pre
            | $ coffee hello-service.coffee &
            | Somata service listening on loclhost:15555...
            | 
            | $ coffee hello-client.coffee
            | Found service hello@localhost:15555
            | [hello.sayHello] response: Hello, world!
            | [hello.sayGoodbye] response: Goodbye, world!

        h3 Connect an API and database server

        h3 Subscribe to a remote event

        h3 Somata across platforms

        p For more examples, see 
            a(href="https://github.com/somata/somata-node/tree/master/examples") https://github.com/somata/somata-node/tree/master/examples

