#header
    .container
        img.logo(src="/images/logo.png")
        h1 somata
        h2 the minimal microservice framework

#navigation
    .container
        li: a(href="/", class=selected("home")) Home
        li: a(href="/examples", class=selected("examples")) Examples
        li: a(href="/download", class=selected("download")) Download
        li: a(href="/documentation", class=selected("documentation")) Documentation
