#header
    .container
        .logo
            a(href="/")
                img(src="/images/logo.png")

        #navigation
            li: a(href="/download", class=selected("download")) Download
            li: a(href="/examples", class=selected("examples")) Examples
            li: a(href="https://github.com/somata" target="_newtab") Github
