@import 'https://fonts.googleapis.com/css?family=Cabin:400,500,600,700'

$globals
    padding: 22px

$colors
    light_gray: #aaa
    lighter_gray: #eee
    lightest_gray: #fafafa
    green: #65C449

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font: 15px/$padding "Helvetica Neue", sans-serif

a
    color: $colors.green
    cursor: pointer
    text-decoration: none
    &:hover
        text-decoration: underline

h1, h2, h3
    font-family: "Cabin"
    font-weight: 600

h1, h2, h3, h4, h5, p, pre
    margin: $padding 0

h2
    margin-top: calc($padding * 2)

    &:first-child
        margin-top: 0

input, textarea, button
    font: inherit

ul
    padding-left: 2em

pre
    padding: $padding
    background: #222
    color: #fff

.container
    max-width: 800px
    margin: 0 auto

#header
    padding: calc($padding * 2) 0 $padding

    .container
        display: flex
        flex-direction: row
        align-items: center

    .logo
        flex-grow: 1

        img
            margin-right: 20px

        h1
            display: none

    h1
        display: inline-block
        font-weight: 300
        font-size: 60px
        color: $colors.green

    h2
        font-weight: 400
        font-size: 18px
        color: $colors.light_gray

#navigation
    list-style: none
    text-align: center

    li
        display: inline-block

        a
            display: block
            color: $colors.light_gray

            &.selected
                color: $colors.green
                font-weight: bold

    li + li
        margin-left: $padding

#content
    padding: calc($padding * 2) 0

#footer
    color: $colors.light_gray
    padding: 0 0 calc($padding * 2)

    a
        color: inherit

.code-formatters
    a
        margin-right: $padding

.examples
    &.coffee
        .coffee-selector
            font-weight: bold
        .js
            display: none
    &.js
        .js-selector
            font-weight: bold
        .coffee
            display: none
